{% comment %}
Renders desktop nav in header, drop down by standard or full width mega nav if block "mega nav" title matches link title. Accepts 3 nav images.

Accepts:
-no arguments-

Usage:
{% render 'nav-desktop-mega' %} in header.liquid
{% endcomment %}

{% style %}
    :root:root .mega-menu__content {
		--color-base-background-1: {{ section.settings.colors_background_1_nav_dropdown.red }}, {{ section.settings.colors_background_1_nav_dropdown.green }}, {{ section.settings.colors_background_1_nav_dropdown.blue }};
		--gradient-base-background-1: {% if section.settings.gradient_background_1_nav_dropdown != blank %}{{ section.settings.gradient_background_1_nav_dropdown }}{% else %}{{ section.settings.colors_background_1_nav_dropdown }}{% endif %};
	}

	header {
		--header-nav-parent-background-color: {{ section.settings.header_nav_parent_background_color }};
		--header-nav-child-foreground-color: {{ section.settings.header_nav_child_foreground_color }};
		--header-nav-child-hover-foreground-color: {{ section.settings.header_nav_child_hover_foreground_color }};
		--header-nav-grandchild-foreground-color: {{ section.settings.header_nav_grandchild_foreground_color }};
		--header-nav-grandchild-hover-foreground-color: {{ section.settings.header_nav_grandchild_hover_foreground_color }};
		--header-nav-mob-foreground-color: {{ section.settings.colors_foreground_nav_mob.red }}, {{ section.settings.colors_foreground_nav_mob.green }}, {{ section.settings.colors_foreground_nav_mob.blue }};
	}

	.list-menu--inline .list-menu--inline__childless::after {
		background-color: rgba(var(--color-base-background-1),1);
	}

    .mega-menu__content__wrapper {
        width: 100%;
        padding: 0 1.2rem;
    }
    .mega-menu__shopall .button {
        --color-button: {{ section.settings.button_color_shop_all.red }}, {{ section.settings.button_color_shop_all.green }}, {{ section.settings.button_color_shop_all.blue }};
        --color-button-text: {{ section.settings.button_text_color_shop_all.red }}, {{ section.settings.button_text_color_shop_all.green }}, {{ section.settings.button_text_color_shop_all.blue }};
    }

	{% if section.settings.highlight_nav_input != blank %}
		.nav__highlight {
			--header-nav-parent-foreground-color: {{ section.settings.highlight_nav_color }};
			--header-nav-childless-parent-hover-foreground-color: {{ section.settings.highlight_nav_color }};
		}

		.header__inline-menu [open="true"] .nav__highlight.header__menu-item {
			--header-nav-parent-hover-foreground-color: {{ section.settings.highlight_nav_color }};
		}

		.list-menu--inline .list-menu--inline__childless.nav__highlight::before {
			--header-nav-parent-background-color: {{ section.settings.highlight_nav_color }};
		}
	{% endif %}
{% endstyle %}

<nav class="header__inline-menu">
    <ul class="list-menu list-menu--inline" role="list">
        {%- for link in section.settings.menu.links -%}
            {%- assign highlight_nav_item =  link.title | downcase -%}
            {%- assign highlight_nav_input =  section.settings.highlight_nav_input | downcase -%}
        <li class="list-menu--inline__li">
            {%- if link.links != blank -%}
            <header-menu>
                <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu{% for block in section.blocks %}{%- assign nav_item =  link.title | downcase -%} 
                    {%- assign nav_item_input =  block.settings.nav_mega_item | downcase -%}{% if nav_item == nav_item_input %} mega-menu__full-width mega-menu__align-center{% endif %}{% endfor %}" 
                    {% for block in section.blocks %}{%- assign nav_item =  link.title | downcase -%}{%- assign nav_item_input =  block.settings.nav_mega_item | downcase -%}{% if nav_item == nav_item_input and block.settings.uptrends_nav_tracker %} data-test-id="nav-test-parent"{% endif %}{% endfor %}>
                <summary class="header__menu-item list-menu__item link focus-inset mega-menu__link--level-1{% if highlight_nav_item == highlight_nav_input %} nav__highlight{% endif %}">
                    <a href="{{ link.url }}" class="focus-inset full-unstyled-link"{% if link.current %} aria-current="page"{% endif %}>
                        {{ link.title | escape }}
                    </a>
                </summary>
                <div id="MegaMenu-Content-{{ forloop.index }}" class="mega-menu__content gradient color-background-1 motion-reduce mega-menu__content-with-images" tabindex="-1">
                    <div class="page-width mega-menu__content__wrapper">
                        {% comment %} Nav images {% endcomment %}
                        {%- for block in section.blocks -%}
                            {%- assign nav_item =  link.title | downcase -%}
                            {%- assign nav_item_input =  block.settings.nav_mega_item | downcase -%}
                                {%- if nav_item == nav_item_input and block.settings.image != blank -%}
                                    <div class="mega-menu__list list-unstyled mega-menu-image__wrapper{% if block.settings.hide_nav_links != true %} mega-menu-image__show_links{% endif %}" {{ block.shopify_attributes }}>
                                        <div class="mega-menu__links__wrapper {%  if block.settings.hide_nav_links %} hidden{% endif %}">
                                            {% comment %} Nav links {% endcomment %}
                                            {%- for childlink in link.links limit: 1 -%}
                                                {%- if childlink.title != 'hide' -%}
                                                    <ul class="mega-menu__list list-unstyled mega-menu__shopall uppercase">
                                                        <li class="mega-menu__shopall-title">
                                                            {{ link.title }}
                                                        </li>
                                                        <li>
                                                            <a href="{{ childlink.url }}" class="button button--primary"{% if childlink.current %} aria-current="page"{% endif %}>
                                                                <span class="category-name__decoration">{{ childlink.title | escape }}</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                {%- endif -%}
                                            {%- endfor -%}
                                            <ul class="mega-menu__list list-unstyled">
                                                {%- for childlink in link.links offset: 1 -%}
                                                    <li>
                                                        <a href="{{ childlink.url }}" class="mega-menu__link link mega-menu__link--level-2"{% if childlink.current %} aria-current="page"{% endif %}>
                                                            <div class="category-name">
                                                                {%- if childlink.title contains ':' -%}
                                                                    {% assign child_title = childlink.title | split: ":" | first | strip %}
                                                                    {% assign child_badge = childlink.title | split: ":" | last | strip %}
                                                                    <span class="category-name__decoration">{{ child_title }}</span>
                                                                    <span class="category-name__badge">{{ child_badge }}</span>
                                                                {%- else -%}
                                                                    <span class="category-name__decoration">{{ childlink.title | escape }}</span>
                                                                {%- endif -%}
                                                            </div>
                                                        </a>
                                                        {%- if childlink.links != blank -%}
                                                            <ul class="list-unstyled" role="list">
                                                            {%- for grandchildlink in childlink.links -%}
                                                                <li>
                                                                <a href="{{ grandchildlink.url }}" class="mega-menu__link link mega-menu__link--level-3"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                                    <div class="category-name">
                                                                        {%- if grandchildlink.title contains ':' -%}
                                                                            {% assign grandchild_title = grandchildlink.title | split: ":" | first | strip %}
                                                                            {% assign grandchild_badge = grandchildlink.title | split: ":" | last | strip %}
                                                                            <span class="category-name__decoration">{{ grandchild_title }}</span>
                                                                            <span class="category-name__badge">{{ grandchild_badge }}</span>
                                                                        {%- else -%}
                                                                            <span class="category-name__decoration">{{ grandchildlink.title | escape }}</span>
                                                                        {%- endif -%}
                                                                    </div>
                                                                </a>
                                                                </li>
                                                            {%- endfor -%}
                                                            </ul>
                                                        {%- endif -%}
                                                    </li>
                                                {%- endfor -%}
                                            </ul>
                                        </div>
                                        {%- if nav_item == nav_item_input and block.settings.image != blank -%}
                                            <div class="mega-menu-image" style="{% if block.settings.nav_image_flex %}display: flex; flex-direction: row; gap: 1rem; align-items: center;{% endif %}">
                                                {%- if block.settings.nav_image_link != blank -%}<a href="{{ block.settings.nav_image_link }}" class="button button--underline button--underline--hover button--underline-left">{%- endif -%}
                                                    <div class="mega-menu-image__info">
                                                        {%- if block.settings.nav_image_heading != blank -%}
                                                            <h3 class="mega-menu-image__heading" style="font-size: {{ block.settings.nav_image_heading_size | divided_by: 10.0 }}rem;">
                                                                {{ block.settings.nav_image_heading | escape }}
                                                            </h3>
                                                        {%- endif -%}
                                                        {%- if block.settings.nav_image_text != blank -%}
                                                            <div class="mega-menu-image__heading">
                                                                {{ block.settings.nav_image_text | newline_to_br }}
                                                            </div>
                                                        {%- endif -%}
                                                    </div>
                                                {%- if block.settings.nav_image_link != blank -%}</a>{%- endif -%}     
                                                    <div class="mega-menu-image__image-wrapper" style="height: {{ block.settings.image_height }}px; margin: {{ block.settings.image_padding }}px 0;">
                                                        {%- if block.settings.nav_image_link != blank -%}<a href="{{ block.settings.nav_image_link }}" class="focus-inset full-unstyled-link">{%- endif -%}
                                                        {%- capture image_width %}{{ block.settings.image_height | divided_by: block.settings.image.aspect_ratio }}{%- endcapture -%}
                                                        {%- capture image_height %}height: {{ block.settings.image_height }}px{%- endcapture -%}
                                                            <div class="media media--transparent media--adapt {%  if block.settings.image_cover != true %} media--contain{% endif %}" style="padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%; height: {{ block.settings.image_height }}px;">
                                                                {{ block.settings.image | image_url: height: block.settings.image_height | image_tag:
                                                                    loading: 'lazy',
                                                                    height: block.settings.image_height,
                                                                    width: image_width,
                                                                    class: 'mega-menu-image__image',
                                                                    style: image_height,
                                                                    srcset: nil  }}
                                                            </div>
                                                        {%- if block.settings.nav_image_link != blank -%}</a>{%- endif -%}
                                                    </div>
                                                {%- if block.settings.nav_image_button_left_text != blank -%}
                                                    <div class="mega-menu-image__buttons">
                                                        <a href="{{ block.settings.nav_image_button_left_link.url }}" class="button button--underline button--underline--hover button--underline-left uppercase">{{ block.settings.nav_image_button_left_text | escape }}</a>
                                                        {%- if block.settings.nav_image_button_right_text != blank -%}
                                                            <a href="{{ block.settings.nav_image_button_right_link.url }}" class="button button--underline button--underline--hover button--underline-left uppercase">{{ block.settings.nav_image_button_right_text | escape }}</a>
                                                        {%- endif -%}
                                                    </div>
                                                {%- endif -%}
                                            </div>
                                        {%- endif -%}
                                        {%- if nav_item == nav_item_input and block.settings.image_2 != blank -%}
                                            <div class="mega-menu-image" style="{% if block.settings.nav_image_flex_2 %} display: flex; flex-direction: row; gap: 1rem;{% endif %}">
                                                {%- if block.settings.nav_image_link_2 != blank -%}<a href="{{ block.settings.nav_image_link_2 }}" class="button button--underline button--underline--hover button--underline--hover button--underline-left">{%- endif -%}
                                                    <div class="mega-menu-image__info">
                                                        {%- if block.settings.nav_image_heading_2 != blank -%}
                                                            <h3 class="mega-menu-image__heading" style="font-size: {{ block.settings.nav_image_heading_size_2 | divided_by: 10.0 }}rem;">
                                                                {{ block.settings.nav_image_heading_2 | escape }}
                                                            </h3>
                                                        {%- endif -%}
                                                        {%- if block.settings.nav_image_text_2 != blank -%}
                                                            <div class="mega-menu-image__heading">
                                                                {{ block.settings.nav_image_text_2 | newline_to_br }}
                                                            </div>
                                                        {%- endif -%}
                                                    </div>
                                                {%- if block.settings.nav_image_link_2 != blank -%}</a>{%- endif -%}
                                                <div class="mega-menu-image__image-wrapper" style="height: {{ block.settings.image_height_2 }}px; margin: {{ block.settings.image_padding_2 }}px 0;">
                                                    {%- if block.settings.nav_image_link_2 != blank -%}<a href="{{ block.settings.nav_image_link_2 }}" class="focus-inset full-unstyled-link">{%- endif -%}
                                                    {%- capture image_width_2 %}{{ block.settings.image_height_2 | divided_by: block.settings.image_2.aspect_ratio }}{%- endcapture -%}
                                                    {%- capture image_height_2 %}height: {{ block.settings.image_height_2 }}px{%- endcapture -%}
                                                        <div class="media media--transparent media--adapt{%  if block.settings.image_cover_2 != true %} media--contain{% endif %}" style="padding-bottom: {{ 1 | divided_by: block.settings.image_2.aspect_ratio | times: 100 }}%; height: {{ block.settings.image_height_2 }}px;">
                                                            {{ block.settings.image_2 | image_url: height: block.settings.image_height_2 | image_tag:
                                                                loading: 'lazy',
                                                                height: block.settings.image_height_2,
                                                                width: image_width_2,
                                                                class: 'mega-menu-image__image',
                                                                style: image_height_2,
                                                                srcset: nil  }}
                                                        </div>
                                                    {%- if block.settings.nav_image_link_2 != blank -%}</a>{%- endif -%}
                                                </div>
                                                {%- if block.settings.nav_image_button_left_text_2 != blank -%}
                                                    <div class="mega-menu-image__buttons">
                                                        <a href="{{ block.settings.nav_image_button_left_link_2.url }}" class="button button--underline button--underline--hover button--underline-left   uppercase">{{ block.settings.nav_image_button_left_text_2 | escape }}</a>
                                                        {%- if block.settings.nav_image_button_right_text_2 != blank -%}
                                                            <a href="{{ block.settings.nav_image_button_right_link_2.url }}" class="button button--underline button--underline--hover button--underline-left  uppercase">{{ block.settings.nav_image_button_right_text_2 | escape }}</a>
                                                        {%- endif -%}
                                                    </div>
                                                {%- endif -%}
                                            </div> 
                                        {%- endif -%}
                                        {%- if nav_item == nav_item_input and block.settings.image_3 != blank -%}
                                            <div class="mega-menu-image" style="{% if block.settings.nav_image_flex_3 %} display: flex; flex-direction: row; gap: 1rem;{% endif %}">
                                                {%- if block.settings.nav_image_link_3 != blank -%}<a href="{{ block.settings.nav_image_link_3 }}" class="button button--underline button--underline--hover button--underline-left">{%- endif -%}
                                                    <div class="mega-menu-image__info">
                                                        {%- if block.settings.nav_image_heading_3 != blank -%}
                                                            <h3 class="mega-menu-image__heading" style="font-size: {{ block.settings.nav_image_heading_size_3 | divided_by: 10.0 }}rem;">
                                                                {{ block.settings.nav_image_heading_3 | escape }}
                                                            </h3>
                                                        {%- endif -%}
                                                        {%- if block.settings.nav_image_text_3 != blank -%}
                                                            <div class="mega-menu-image__heading">
                                                                {{ block.settings.nav_image_text_3 | newline_to_br }}
                                                            </div>
                                                        {%- endif -%}
                                                    </div>
                                                {%- if block.settings.nav_image_link_3 != blank -%}</a>{%- endif -%}
                                                <div class="mega-menu-image__image-wrapper" style="height: {{ block.settings.image_height_3 }}px; margin: {{ block.settings.image_padding_3 }}px 0;">
                                                    {%- if block.settings.nav_image_link_3 != blank -%}<a href="{{ block.settings.nav_image_link_3 }}" class="focus-inset full-unstyled-link">{%- endif -%}
                                                    {%- capture image_width_3 %}{{ block.settings.image_height_3 | divided_by: block.settings.image_3.aspect_ratio }}{%- endcapture -%}
                                                    {%- capture image_height_3 %}height: {{ block.settings.image_height_3 }}px{%- endcapture -%}
                                                        <div class="media media--transparent media--adapt{%  if block.settings.image_cover_3 != true %} media--contain{% endif %}" style="padding-bottom: {{ 1 | divided_by: block.settings.image_3.aspect_ratio | times: 100 }}%; height: {{ block.settings.image_height_3 }}px;">
                                                            {{ block.settings.image_3 | image_url: width: block.settings.image_height_3 | image_tag:
                                                                loading: 'lazy',
                                                                height: block.settings.image_height_3,
                                                                width: image_width_3,
                                                                class: 'mega-menu-image__image',
                                                            style: image_height_3 }}
                                                        </div>
                                                    {%- if block.settings.nav_image_link_3 != blank -%}</a>{%- endif -%}
                                                </div>
                                                {%- if block.settings.nav_image_button_left_text_3 != blank -%}
                                                    <div class="mega-menu-image__buttons">
                                                        <a href="{{ block.settings.nav_image_button_left_link_3.url }}" class="button button--underline button--underline--hover button--underline-left uppercase">{{ block.settings.nav_image_button_left_text_3 | escape }}</a>
                                                        {%- if block.settings.nav_image_button_right_text_3 != blank -%}
                                                            <a href="{{ block.settings.nav_image_button_right_link_3.url }}" class="button button--underline button--underline--hover button--underline-left uppercase">{{ block.settings.nav_image_button_right_text_3 | escape }}</a>
                                                        {%- endif -%}
                                                    </div>
                                                {%- endif -%}
                                            </div> 
                                        {%- endif -%} 
                                        {%- if nav_item == nav_item_input and block.settings.image_4 != blank -%}
                                            <div class="mega-menu-image" style="{% if block.settings.nav_image_flex_4 %} display: flex; flex-direction: row; gap: 1rem;{% endif %}">
                                                {%- if block.settings.nav_image_link_4 != blank -%}<a href="{{ block.settings.nav_image_link_4 }}" class="button button--underline button--underline--hover button--underline-left uppercase">{%- endif -%}
                                                    <div class="mega-menu-image__info">
                                                        {%- if block.settings.nav_image_heading_4 != blank -%}
                                                            <h3 class="mega-menu-image__heading" style="font-size: {{ block.settings.nav_image_heading_size_4 | divided_by: 10.0 }}rem;">
                                                                {{ block.settings.nav_image_heading_4 | escape }}
                                                            </h3>
                                                        {%- endif -%}
                                                        {%- if block.settings.nav_image_text_4 != blank -%}
                                                            <div class="mega-menu-image__heading">
                                                                {{ block.settings.nav_image_text_4 | newline_to_br }}
                                                            </div>
                                                        {%- endif -%}
                                                    </div>
                                                {%- if block.settings.nav_image_link_4 != blank -%}</a>{%- endif -%}
                                                <div class="mega-menu-image__image-wrapper" style="height: {{ block.settings.image_height_4 }}px; margin: {{ block.settings.image_padding_4 }}px 0;">
                                                    {%- if block.settings.nav_image_link_4 != blank -%}<a href="{{ block.settings.nav_image_link_4 }}" class="focus-inset full-unstyled-link">{%- endif -%}
                                                        {%- capture image_width_4 %}{{ block.settings.image_height_4 | divided_by: block.settings.image_4.aspect_ratio }}{%- endcapture -%}
                                                        {%- capture image_height_4 %}height: {{ block.settings.image_height_4 }}px{%- endcapture -%}
                                                        <div class="media media--transparent media--adapt{%  if block.settings.image_cover_4 != true %} media--contain{% endif %}" style="padding-bottom: {{ 1 | divided_by: block.settings.image_4.aspect_ratio | times: 100 }}%; height: {{ block.settings.image_height_4 }}px;">
                                                            {{ block.settings.image_4 | image_url: width: block.settings.image_height_4 | image_tag:
                                                                loading: 'lazy',
                                                                height: block.settings.image_height_4,
                                                                width: image_width_4,
                                                                class: 'mega-menu-image__image',
                                                                style: image_height_4 }}
                                                        </div>
                                                    {%- if block.settings.nav_image_link_4 != blank -%}</a>{%- endif -%}
                                                </div>
                                                {%- if block.settings.nav_image_button_left_text_4 != blank -%}
                                                    <div class="mega-menu-image__buttons">
                                                        <a href="{{ block.settings.nav_image_button_left_link_4.url }}" class="button button--underline button--underline--hover button--underline-left  uppercase">{{ block.settings.nav_image_button_left_text_4 | escape }}</a>
                                                        {%- if block.settings.nav_image_button_right_text_4 != blank -%}
                                                            <a href="{{ block.settings.nav_image_button_right_link_4.url }}" class="button button--underline button--underline--hover button--underline-left  uppercase">{{ block.settings.nav_image_button_right_text_4 | escape }}</a>
                                                        {%- endif -%}
                                                    </div>
                                                {%- endif -%}
                                            </div> 
                                        {%- endif -%}
                                        {%- if nav_item == nav_item_input and block.settings.image_5 != blank -%}
                                            <div class="mega-menu-image" style="{% if block.settings.nav_image_flex_5 %} display: flex; flex-direction: row; gap: 1rem;{% endif %}">
                                                {%- if block.settings.nav_image_link_5 != blank -%}<a href="{{ block.settings.nav_image_link_5 }}" class="button button--underline button--underline--hover button--underline-left  uppercase">{%- endif -%}
                                                    <div class="mega-menu-image__info">
                                                        {%- if block.settings.nav_image_heading_5 != blank -%}
                                                            <h3 class="mega-menu-image__heading" style="font-size: {{ block.settings.nav_image_heading_size_2 | divided_by: 10.0 }}rem;">
                                                                {{ block.settings.nav_image_heading_5 | escape }}
                                                            </h3>
                                                        {%- endif -%}
                                                        {%- if block.settings.nav_image_text_5 != blank -%}
                                                            <div class="mega-menu-image__heading">
                                                                {{ block.settings.nav_image_text_5 | newline_to_br }}
                                                            </div>
                                                        {%- endif -%}
                                                    </div>
                                                {%- if block.settings.nav_image_link_5 != blank -%}</a>{%- endif -%}
                                                <div class="mega-menu-image__image-wrapper" style="height: {{ block.settings.image_height_5 }}px; margin: {{ block.settings.image_padding_5 }}px 0;">
                                                    {%- if block.settings.nav_image_link_5 != blank -%}<a href="{{ block.settings.nav_image_link_5 }}" class="focus-inset full-unstyled-link">{%- endif -%}
                                                    {%- capture image_width_5 %}{{ block.settings.image_height_5 | divided_by: block.settings.image_5.aspect_ratio }}{%- endcapture -%}
                                                    {%- capture image_height_5 %}height: {{ block.settings.image_height_5 }}px{%- endcapture -%}
                                                        <div class="media media--transparent media--adapt{%  if block.settings.image_cover_5 != true %} media--contain{% endif %}" style="padding-bottom: {{ 1 | divided_by: block.settings.image_5.aspect_ratio | times: 100 }}%; height: {{ block.settings.image_height_5 }}px;">
                                                            {{ block.settings.image_5 | image_url: width: block.settings.image_height_5 | image_tag:
                                                                loading: 'lazy',
                                                                height: block.settings.image_height_5,
                                                                width: image_width_5,

                                                                class: 'mega-menu-image__image',
                                                                style: image_height_5 }}
                                                        </div>
                                                    {%- if block.settings.nav_image_link_5 != blank -%}</a>{%- endif -%}
                                                </div>
                                                {%- if block.settings.nav_image_button_left_text_5 != blank -%}
                                                    <div class="mega-menu-image__buttons">
                                                        <a href="{{ block.settings.nav_image_button_left_link_5.url }}" class="button button--underline button--underline--hover button--underline-left  uppercase">{{ block.settings.nav_image_button_left_text_5 | escape }}</a>
                                                        {%- if block.settings.nav_image_button_right_text_5 != blank -%}
                                                            <a href="{{ block.settings.nav_image_button_right_link_5.url }}" class="button button--underline button--underline--hover button--underline-left   uppercase">{{ block.settings.nav_image_button_right_text_5 | escape }}</a>
                                                        {%- endif -%}
                                                    </div>
                                                {%- endif -%}
                                            </div> 
                                        {%- endif -%}
                                        {%- if nav_item == nav_item_input and block.settings.image_6 != blank -%}
                                            <div class="mega-menu-image" style="{% if block.settings.nav_image_flex_6 %} display: flex; flex-direction: row; gap: 1rem;{% endif %}">
                                                {%- if block.settings.nav_image_link_6 != blank -%}<a href="{{ block.settings.nav_image_link_6 }}" class="button button--underline button--underline--hover button--underline-left  uppercase">{%- endif -%}
                                                    <div class="mega-menu-image__info">
                                                        {%- if block.settings.nav_image_heading_6 != blank -%}
                                                            <h3 class="mega-menu-image__heading" style="font-size: {{ block.settings.nav_image_heading_size_6 | divided_by: 10.0 }}rem;">
                                                                {{ block.settings.nav_image_heading_6 | escape }}
                                                            </h3>
                                                        {%- endif -%}
                                                        {%- if block.settings.nav_image_text_6 != blank -%}
                                                            <div class="mega-menu-image__heading">
                                                                {{ block.settings.nav_image_text_6 | newline_to_br }}
                                                            </div>
                                                        {%- endif -%}
                                                    </div>
                                                {%- if block.settings.nav_image_link_6 != blank -%}</a>{%- endif -%}
                                                <div class="mega-menu-image__image-wrapper" style="height: {{ block.settings.image_height_6 }}px; margin: {{ block.settings.image_padding_6 }}px 0;">
                                                    {%- if block.settings.nav_image_link_6 != blank -%}<a href="{{ block.settings.nav_image_link_6 }}" class="button button--underline button--underline--hover button--underline-left uppercase">{%- endif -%}
                                                    {%- capture image_width_6 %}{{ block.settings.image_height_6 | divided_by: block.settings.image_6.aspect_ratio }}{%- endcapture -%}
                                                    {%- capture image_height_6 %}height: {{ block.settings.image_height_6 }}px{%- endcapture -%}
                                                        <div class="media media--transparent media--adapt{%  if block.settings.image_cover_6 != true %} media--contain{% endif %}" style="padding-bottom: {{ 1 | divided_by: block.settings.image_6.aspect_ratio | times: 100 }}%; height: {{ block.settings.image_height_6 }}px;">
                                                            {{ block.settings.image_6 | image_url: width: block.settings.image_height_6 | image_tag:
                                                                loading: 'lazy',
                                                                height: block.settings.image_height_6,
                                                                width: image_width_6,
                                                                class: 'mega-menu-image__image',
                                                                style: image_height_6 }}
                                                        </div>
                                                    {%- if block.settings.nav_image_link_6 != blank -%}</a>{%- endif -%}
                                                </div>
                                                {%- if block.settings.nav_image_button_left_text_6 != blank -%}
                                                    <div class="mega-menu-image__buttons">
                                                        <a href="{{ block.settings.nav_image_button_left_link_6.url }}" class="button button--underline button--underline--hover button--underline-left  uppercase">{{ block.settings.nav_image_button_left_text_6 | escape }}</a>
                                                        {%- if block.settings.nav_image_button_right_text_6 != blank -%}
                                                            <a href="{{ block.settings.nav_image_button_right_link_6.url }}" class="button button--underline button--underline--hover button--underline-left  uppercase">{{ block.settings.nav_image_button_right_text_6 | escape }}</a>
                                                        {%- endif -%}
                                                    </div>
                                                {%- endif -%}
                                            </div> 
                                        {%- endif -%}
                                        {%- if nav_item == nav_item_input and block.settings.image_7 != blank -%}
                                            <div class="mega-menu-image" style="{% if block.settings.nav_image_flex_7 %} display: flex; flex-direction: row; gap: 1rem;{% endif %}">
                                                {%- if block.settings.nav_image_link_7 != blank -%}<a href="{{ block.settings.nav_image_link_7 }}" class="button button--underline button--underline--hover button--underline-left uppercase">{%- endif -%}
                                                    <div class="mega-menu-image__info">
                                                        {%- if block.settings.nav_image_heading_7 != blank -%}
                                                            <div class="mega-menu-image__heading" style="font-size: {{ block.settings.nav_image_heading_size_7 | divided_by: 10.0 }}rem;">
                                                                {{ block.settings.nav_image_heading_7 | escape }}
                                                            </div>
                                                        {%- endif -%}
                                                        {%- if block.settings.nav_image_text_7 != blank -%}
                                                            <div class="mega-menu-image__heading">
                                                                {{ block.settings.nav_image_text_7 | newline_to_br }}
                                                            </div>
                                                        {%- endif -%}
                                                    </div>
                                                {%- if block.settings.nav_image_link_7 != blank -%}</a>{%- endif -%}
                                                <div class="mega-menu-image__image-wrapper" style="height: {{ block.settings.image_height_7 }}px; margin: {{ block.settings.image_padding_7 }}px 0;">
                                                    {%- if block.settings.nav_image_link_7 != blank -%}<a href="{{ block.settings.nav_image_link_7 }}" class="focus-inset full-unstyled-link">{%- endif -%}
                                                    {%- capture image_width_7 %}{{ block.settings.image_height_7 | divided_by: block.settings.image_7.aspect_ratio }}{%- endcapture -%}
                                                    {%- capture image_height_7 %}height: {{ block.settings.image_height_7 }}px{%- endcapture -%}
                                                        <div class="media media--transparent media--adapt{%  if block.settings.image_cover_7 != true %} media--contain{% endif %}" style="padding-bottom: {{ 1 | divided_by: block.settings.image_7.aspect_ratio | times: 100 }}%; height: {{ block.settings.image_height_7 }}px;">
                                                            {{ block.settings.image_7 | image_url: width: block.settings.image_height_7 | image_tag:
                                                                loading: 'lazy',
                                                                height: block.settings.image_height_7,
                                                                width: image_width_7,
                                                                class: 'mega-menu-image__image',
                                                                style: image_height_7 }}
                                                        </div>
                                                    {%- if block.settings.nav_image_link_7 != blank -%}</a>{%- endif -%}
                                                </div>
                                                {%- if block.settings.nav_image_button_left_text_7 != blank -%}
                                                    <div class="mega-menu-image__buttons">
                                                        <a href="{{ block.settings.nav_image_button_left_link_7.url }}" class="button button--underline button--underline--hover button--underline-left  uppercase">{{ block.settings.nav_image_button_left_text_7 | escape }}</a>
                                                        {%- if block.settings.nav_image_button_right_text_7 != blank -%}
                                                            <a href="{{ block.settings.nav_image_button_right_link_7.url }}" class="button button--underline button--underline--hover button--underline-left  uppercase">{{ block.settings.nav_image_button_right_text_7 | escape }}</a>
                                                        {%- endif -%}
                                                    </div>
                                                {%- endif -%}
                                            </div> 
                                        {%- endif -%}
                                        {%- if nav_item == nav_item_input and block.settings.image_8 != blank -%}
                                            <div class="mega-menu-image" style="{% if block.settings.nav_image_flex_8 %} display: flex; flex-direction: row; gap: 1rem;{% endif %}">
                                                {%- if block.settings.nav_image_link_8 != blank -%}<a href="{{ block.settings.nav_image_link_8 }}" class="button button--underline button--underline--hover button--underline-left uppercase">{%- endif -%}
                                                    <div class="mega-menu-image__info">
                                                        {%- if block.settings.nav_image_heading_8 != blank -%}
                                                            <h3 class="mega-menu-image__heading" style="font-size: {{ block.settings.nav_image_heading_size_8 | divided_by: 10.0 }}rem;">
                                                                {{ block.settings.nav_image_heading_8 | escape }}
                                                            </h3>
                                                        {%- endif -%}
                                                        {%- if block.settings.nav_image_text_8 != blank -%}
                                                            <div class="mega-menu-image__heading">
                                                                {{ block.settings.nav_image_text_8 | newline_to_br }}
                                                            </div>
                                                        {%- endif -%}
                                                    </div>
                                                {%- if block.settings.nav_image_link_8 != blank -%}</a>{%- endif -%}
                                                <div class="mega-menu-image__image-wrapper" style="height: {{ block.settings.image_height_7 }}px; margin: {{  block.settings.image_padding_8 }}px 0;">
                                                    {%- if block.settings.nav_image_link_8 != blank -%}<a href="{{ block.settings.nav_image_link_8 }}" class="focus-inset full-unstyled-link">{%- endif -%}
                                                    {%- capture image_width_8 %}{{ block.settings.image_height_8 | divided_by: block.settings.image_8.aspect_ratio }}{%- endcapture -%}
                                                    {%- capture image_height_8 %}height: {{ block.settings.image_height_8 }}px{%- endcapture -%}
                                                        <div class="media media--transparent media--adapt{%  if block.settings.image_cover_8 != true %} media--contain{% endif %}" style="padding-bottom: {{ 1 | divided_by: block.settings.image_8.aspect_ratio | times: 100 }}%; height: {{ block.settings.image_height_8 }}px;">
                                                            {{ block.settings.image_8 | image_url: width: block.settings.image_height_8 | image_tag:
                                                                loading: 'lazy',
                                                                height: block.settings.image_height_8,
                                                                width: image_width_8,
                                                                class: 'mega-menu-image__image',
                                                                style: image_height_8 }}
                                                        </div>
                                                    {%- if block.settings.nav_image_link_8 != blank -%}</a>{%- endif -%}
                                                </div>
                                                {%- if block.settings.nav_image_button_left_text_8 != blank -%}
                                                    <div class="mega-menu-image__buttons">
                                                        <a href="{{ block.settings.nav_image_button_left_link_8.url }}" class="button button--underline button--underline--hover button--underline-left  uppercase">{{ block.settings.nav_image_button_left_text_8 | escape }}</a>
                                                        {%- if block.settings.nav_image_button_right_text_8 != blank -%}
                                                            <a href="{{ block.settings.nav_image_button_right_link_8.url }}" class="button button--underline button--underline--hover button--underline-left  uppercase">{{ block.settings.nav_image_button_right_text_8 | escape }}</a>
                                                        {%- endif -%}
                                                    </div>
                                                {%- endif -%}
                                            </div> 
                                        {%- endif -%}
                                    </div>
                                {%- endif -%} 
                        {%- endfor -%}
                        
                    </div>
                </div>


                </details>
            </header-menu>
            {%- else -%}
            <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset list-menu--inline__childless{% if highlight_nav_item == highlight_nav_input %} nav__highlight{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                <span class="mega-menu__link--level-1 desk__nav-childless-parent">{{ link.title | escape }}</span>
            </a>
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>
</nav>