{% comment %}
		Renders product media

		Accepts:
		- media: {Object} Product Media object
		- loop: {Boolean} Enable video looping (optional)
		- variant_image: {Boolean} The media associated with a variant

		Usage:
		{% render 'product-media',
			media: media,
			loop: section.settings.enable_video_looping,
			variant_image: true
		%}                            in sections/main-product.liquid and sections/featured-product.liquid
{% endcomment %}

{% if media %}
	{%- if media.media_type == 'image' -%}
		<div class="product-media-modal__image-wrapper media media--contain" style="padding-top: {{ 1 | divided_by: media.preview_image.aspect_ratio | times: 100 }}%;">
			{%- capture sizes -%}(min-width: 750px) calc(100vw - 22rem), 1100px{%- endcapture -%}
			{%- capture media_height -%}{{ 1100 | divided_by: media.preview_image.aspect_ratio | ceil }}{%- endcapture -%}
			{%- capture media_alt -%}{{ media.alt | escape }}{%- endcapture -%}
			{{ media.preview_image | image_url: width: 1445 | image_tag:
				loading: 'lazy',
				sizes: sizes,
				alt: media_alt,
				width: 1100,
				height: media_height,
				data-media-id: media.id }}
		</div>
	{%- else -%}
		{%- if media.media_type == 'model' -%}
			<div class="product-media-modal__model" data-media-id="{{ media.id }}">
				<product-model class="deferred-media media media--transparent" style="padding-top: min(calc(100vh - 12rem), 100%)">
		{%- else -%}
			<product-gallery-deferred-media class="deferred-media media" style="padding-top: min(calc(100vh - 12rem), {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%)" data-media-id="{{ media.id }}" data-autoplay-setting="{{ section.settings.enable_video_autoplay }}">
		{%- endif -%}

		<button id="Deferred-Poster-Modal-{{ media.id }}" class="deferred-media__poster" type="button">
			<span class="deferred-media__poster-button motion-reduce">
				{%- if media.media_type == 'model' -%}
					{%- render 'icon-3d-model' -%}
				{%- else -%}
					{%- render 'icon-play' -%}
				{%- endif -%}
			</span>
			{%- capture sizes -%}(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem){%- endcapture -%}
			{%- capture media_preview_height -%}{{ 576 | divided_by: media.preview_image.aspect_ratio }}{%- endcapture -%}
			{{ media.preview_image | image_url: width: 550, height: 550 | image_tag:
			loading: 'lazy',
			sizes: sizes,
			height: media_preview_height,
			width: 576
			}}
		</button>
		<template>
			{% if section.settings.enable_video_autoplay == true or template.name == 'collection' %}
				{% assign preload_settings = "auto" %}
			{% else %}
				{% assign preload_settings = "none" %}
			{% endif %}
			{%- case media.media_type -%}
			{%- when 'external_video' -%}
				{%- assign video_class = 'js-' | append: media.host -%}
				{%- if media.host == 'youtube' -%}
					{{ media | external_video_url: autoplay: true, loop: loop, playlist: media.external_id | external_video_tag: class: video_class, loading: "lazy" }}
				{%- else -%}
					{{ media | external_video_url: autoplay: true, loop: loop | external_video_tag: class: video_class, loading: "lazy" }}
				{%- endif -%}
			{%- when 'video' -%}
				{{ media | media_tag: image_size: "2048x", autoplay: true, loop: loop, controls: true, preload: preload_settings, autoplay: true }}
			{%- when 'model' -%}
				{{ media | media_tag: image_size: "2048x", toggleable: true }}
			{%- endcase -%}
		</template>

		{%- if media.media_type == 'model' -%}
			</product-model>
		</div>
		{%- else -%}
			</product-gallery-deferred-media>
		{%- endif -%}
	{%- endif -%}
{% endif %}