{% comment %}
	Renders product title and star rating on PDP and in featured product section

	Accepts:
	- block: {Object} Block object
	- product: {Object} Object from CMS (for featured product only)

	Usage:
	{% render 'product-title', block: block %} within sections/main-product.liquid
	{% render 'product-title', product: product, block: block %} within sections/featured-product.liquid
{% endcomment %}

{% assign product_data = product.metafields.product_data.reference.value %}
{% assign product_subtitle = product_data.subtitle.value %}

<div class="product__title-subtitle">
	{% if section.id contains 'main' %}
		<h1 class="product__title" {{ block.shopify_attributes }}>
			{{ product.title | escape }}
		</h1>
		{% if product_subtitle %}
			<h3 class="product__subtitle uppercase" {{ block.shopify_attributes }}>
				{{ product_subtitle | strip }}
			</h3>
		{% endif %}
	{% else %}
		<h2 class="h1 product__title" {{ block.shopify_attributes }}>
			{%- if product.title != blank -%}
				{{ product.title | escape }}
			{%- else -%}
				{{ 'onboarding.product_title' | t }}
			{%- endif -%}
		</h2>
	{% endif %}
</div>