{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
	.main__{{ template | replace: '.', '-' | replace: '/', '-' }}--background {
		background: {{ section.settings.background_color }};
	}
{%- endstyle -%}

<div class="customer login">
	<h1 id="recover" tabindex="-1" class="focus-none">
		{{ 'customer.recover_password.title' | t }}
	</h1>
	<div>
		<p>
			{{ 'customer.recover_password.subtext' | t }}
		</p>

		{%- form 'recover_customer_password' -%}
			{%- if form.errors -%}
				<div id="RecoverEmail-email-error" class="form__message form__message-error">
					{{ form.errors.messages['form'] }}
				</div>
			{%- endif -%}

			{% assign recover_success = form.posted_successfully? %}
			<div class="field">
				<input type="email"
					value=""
					name="email"
					id="RecoverEmail"
					autocorrect="off"
					autocapitalize="off"
					autocomplete="email"
					{% if form.errors %}
						aria-invalid="true"
						aria-describedby="RecoverEmail-email-error"
						autofocus
					{% endif %}
					placeholder="{{ 'customer.login_page.email' | t }}"
				>
				<label for="RecoverEmail">
					{{ 'customer.login_page.email' | t }}
				</label>
			</div>

			<button class="button button--primary button--full-width">
				{{ 'customer.recover_password.submit' | t }}
			</button>

			<p class="customer__footer">
				<span>{{ 'customer.recover_password.remember_password' | t }}</span>
				<a href="#login" class="button button--underline">
					{{ 'customer.log_in' | t }}
				</a>
			</p>
		{%- endform -%}
	</div>

	<h1 id="login" tabindex="-1" class="focus-none">
		{{ 'customer.login_page.title' | t }}
	</h1>
	
	<div>
		<p>{{ 'customer.login_page.info' | t }}</p>
		{%- if recover_success == true -%}
			<div class="form__message form__message-success" tabindex="-1" autofocus>
				{{ 'customer.recover_password.success' | t }}
			</div> 
		{%- endif -%}
		{%- form 'customer_login', novalidate: 'novalidate' -%}
			{%- if form.errors -%}
				<div class="form__message form__message-error" tabindex="-1" autofocus>
					<span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
					{{ 'templates.contact.form.error_heading' | t }}
					{{ form.errors | default_errors }}
				</div>
			{%- endif -%}

			<div class="field">
				<input
					type="email"
					name="customer[email]"
					id="CustomerEmail"
					autocomplete="email"
					autocorrect="off"
					autocapitalize="off"
					{% if form.errors contains 'form' %}
						aria-invalid="true"
					{% endif %}
					placeholder="{{ 'customer.login_page.email' | t }}"
				>
				<label for="CustomerEmail">
					{{ 'customer.login_page.email' | t }}
				</label>
			</div>

			{%- if form.password_needed -%}
				<div class="field">
					<input
						type="password"
						value=""
						name="customer[password]"
						id="CustomerPassword"
						autocomplete="current-password"
						{% if form.errors contains 'form' %}
							aria-invalid="true"
						{% endif %}
						placeholder="{{ 'customer.login_page.password' | t }}"
					>
					<label for="CustomerPassword">
						{{ 'customer.login_page.password' | t }}
					</label>
				</div>

				<a href="#recover" class="button button--underline">
					{{ 'customer.login_page.forgot_password' | t }}
				</a>
			{%- endif -%}

			<button class="button button--primary button--full-width">
				{{ 'customer.login_page.sign_in' | t }}
			</button>

				
			<p class="customer__footer">
				<span>{{ 'customer.login_page.create_account_info' | t }}</span>
				<a href="{{ routes.account_register_url }}" class="button button--underline">
					{{ 'customer.login_page.create_account' | t }}
				</a>
			</p>
		{%- endform -%}
	</div>

	{%- if shop.checkout.guest_login -%}
		<div>
			<hr>
			<h2>{{ 'customer.login_page.guest_title' | t }}</h2>

			{%- form 'guest_login' -%}
				<button class="button button--primary button--full-width">
					{{ 'customer.login_page.guest_continue' | t }}
				</button>
			{%- endform -%}
		</div>
	{%- endif -%}
</div>

{% schema %}
{
	"name": "t:sections.main-login.name",
	"settings": [
		{
			"type": "color",
			"id": "background_color",
			"default": "#fff",
			"label": "Background Color"
		}
	]
}
{% endschema %}