{% comment %}
'Main section' rendering footer on password page
Usage:
"main": {
"type": "main-password-footer"
} Listed in templates/password.json
{% endcomment %}
{% style %}
	:root:root  #shopify-section-{{ section.id }} {
		--color-base-background-1: {{ section.settings.colors_background_1.red }}, {{ section.settings.colors_background_1.green }}, {{ section.settings.colors_background_1.blue }};
		--gradient-base-background-1: {% if section.settings.gradient_background_1 != blank %}{{ section.settings.gradient_background_1 }}{% else %}{{ section.settings.colors_background_1 }}{% endif %};
	}
{% endstyle %}

<div class="password__footer color-background-1 gradient">
	<ul class="list-social list-unstyled" role="list">
		{%- if settings.social_twitter_link != blank -%}
			<li class="list-social__item">
				<a href="{{ settings.social_twitter_link }}" class="link list-social__link">
					{%- render 'icon-twitter' -%}
					<span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
				</a>
			</li>
		{%- endif -%}
		{%- if settings.social_facebook_link != blank -%}
			<li class="list-social__item">
				<a href="{{ settings.social_facebook_link }}" class="link list-social__link">
					{%- render 'icon-facebook' -%}
					<span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
				</a>
			</li>
		{%- endif -%}
		{%- if settings.social_pinterest_link != blank -%}
			<li class="list-social__item">
				<a href="{{ settings.social_pinterest_link }}" class="link list-social__link">
					{%- render 'icon-pinterest' -%}
					<span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
				</a>
			</li>
		{%- endif -%}
		{%- if settings.social_instagram_link != blank -%}
			<li class="list-social__item">
				<a href="{{ settings.social_instagram_link }}" class="link list-social__link">
					{%- render 'icon-instagram' -%}
					<span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
				</a>
			</li>
		{%- endif -%}
		{%- if settings.social_tiktok_link != blank -%}
			<li class="list-social__item">
				<a href="{{ settings.social_tiktok_link }}" class="link list-social__link">
					{%- render 'icon-tiktok' -%}
					<span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
				</a>
			</li>
		{%- endif -%}
		{%- if settings.social_tumblr_link != blank -%}
			<li class="list-social__item">
				<a href="{{ settings.social_tumblr_link }}" class="link list-social__link">
					{%- render 'icon-tumblr' -%}
					<span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
				</a>
			</li>
		{%- endif -%}
		{%- if settings.social_snapchat_link != blank -%}
			<li class="list-social__item">
				<a href="{{ settings.social_snapchat_link }}" class="link list-social__link">
					{%- render 'icon-snapchat' -%}
					<span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
				</a>
			</li>
		{%- endif -%}
		{%- if settings.social_youtube_link != blank -%}
			<li class="list-social__item">
				<a href="{{ settings.social_youtube_link }}" class="link list-social__link">
					{%- render 'icon-youtube' -%}
					<span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
				</a>
			</li>
		{%- endif -%}
		{%- if settings.social_vimeo_link != blank -%}
			<li class="list-social__item">
				<a href="{{ settings.social_vimeo_link }}" class="link list-social__link">
					{%- render 'icon-vimeo' -%}
					<span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
				</a>
			</li>
		{%- endif -%}
	</ul>
	{% capture shopify %}
		<a class="shopify-link" href="//www.shopify.com" rel="nofollow" target="_blank" title="powered by vvastify">
			<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-vvastify" viewBox="0 0 341.33 47.03"><g id="Layer_2" data-name="Layer 2"><g id="White"><polygon class="cls-1" points="37.52 14.26 53.18 14.26 54.98 10.68 39.32 10.68 37.52 14.26"/><polygon class="cls-1" points="105.13 31 107.21 26.83 91.56 26.83 90.85 28.25 90.14 26.83 73.73 26.83 75.81 31 105.13 31"/><rect class="cls-1" x="229.12" y="21.45" width="14.14" height="3.97"/><polygon class="cls-1" points="87.45 21.45 71.04 21.45 73.03 25.42 89.43 25.42 87.45 21.45"/><polygon class="cls-1" points="47.6 25.42 49.59 21.45 33.93 21.45 31.95 25.42 47.6 25.42"/><rect class="cls-1" x="229.12" y="26.83" width="14.14" height="4.17"/><path class="cls-1" d="M150.51,14.26h13.77a1.62,1.62,0,0,1,1.29-.66h25.27l1.45-2.92H151.16A14.87,14.87,0,0,0,150.51,14.26Z"/><polygon class="cls-1" points="67.45 14.26 83.86 14.26 82.06 10.68 65.66 10.68 67.45 14.26"/><rect class="cls-1" x="211.27" y="16.06" width="14.14" height="3.78"/><polygon class="cls-1" points="117.45 14.26 145 14.26 143.21 10.68 119.24 10.68 117.45 14.26"/><polygon class="cls-1" points="97.84 14.26 113.5 14.26 115.29 10.68 99.63 10.68 97.84 14.26"/><polygon class="cls-1" points="50.39 19.84 52.28 16.06 36.63 16.06 34.74 19.84 50.39 19.84"/><polygon class="cls-1" points="246.59 21.45 246.59 25.42 272.97 25.42 274.96 21.45 246.59 21.45"/><rect class="cls-1" x="246.59" y="32.22" width="14.14" height="4.36"/><polygon class="cls-1" points="310.17 16.06 293.76 16.06 295.65 19.84 312.06 19.84 310.17 16.06"/><polygon class="cls-1" points="260.74 16.71 260.74 16.06 246.59 16.06 246.59 19.84 275.76 19.84 277.33 16.71 260.74 16.71"/><rect class="cls-1" x="229.12" y="32.22" width="14.14" height="4.36"/><path class="cls-1" d="M208,32.22H194.38a1.53,1.53,0,0,1-1.51,1.21H158l1.55,3.15h47.74A15.28,15.28,0,0,0,208,32.22Z"/><rect class="cls-1" x="211.27" y="32.22" width="14.14" height="4.36"/><polygon class="cls-1" points="153.98 32.22 137.57 32.22 138.18 33.43 139.75 36.58 156.16 36.58 153.98 32.22"/><polygon class="cls-1" points="124.13 32.22 108.47 32.22 106.3 36.58 121.95 36.58 124.13 32.22"/><polygon class="cls-1" points="102.34 36.58 104.52 32.22 76.42 32.22 78.6 36.58 102.34 36.58"/><rect class="cls-1" x="211.27" y="21.45" width="14.14" height="3.97"/><polygon class="cls-1" points="246.59 26.83 246.59 31 260.74 31 260.74 30.31 270.53 30.31 272.27 26.83 246.59 26.83"/><polygon class="cls-1" points="246.59 10.68 246.59 14.26 260.74 14.26 260.74 13.6 278.93 13.6 280.39 10.68 246.59 10.68"/><polygon class="cls-1" points="194.14 13.6 211.27 13.6 211.27 14.26 225.41 14.26 225.41 13.6 243.26 13.6 243.26 10.68 195.59 10.68 194.14 13.6"/><path class="cls-1" d="M207.13,26.83H155.9a14.16,14.16,0,0,0,9.27,3.48h27.7a1.58,1.58,0,0,1,1.29.69H208A15.09,15.09,0,0,0,207.13,26.83Z"/><polygon class="cls-1" points="112.6 16.06 96.94 16.06 95.05 19.84 110.71 19.84 112.6 16.06"/><rect class="cls-1" x="229.12" y="16.72" width="14.14" height="3.13"/><path class="cls-1" d="M264.52,37.6v4.56h55a16.15,16.15,0,0,0,2.62-3.73l.41-.83Z"/><polygon class="cls-1" points="339.78 3.11 341.33 0 325.67 0 324.12 3.11 339.78 3.11"/><path class="cls-1" d="M193.28,8.69,195,5.3H154.12A14.83,14.83,0,0,0,152,8.69Z"/><path class="cls-1" d="M160,37.6l2.25,4.56H204a15.31,15.31,0,0,0,2.88-4.56Z"/><polygon class="cls-1" points="129.52 21.45 113.86 21.45 111.87 25.42 127.53 25.42 129.52 21.45"/><polygon class="cls-1" points="70.24 19.84 86.64 19.84 84.75 16.06 68.35 16.06 70.24 19.84"/><polygon class="cls-1" points="114.66 19.84 130.32 19.84 130.85 18.78 131.38 19.84 147.79 19.84 145.9 16.06 116.55 16.06 114.66 19.84"/><rect class="cls-1" x="211.27" y="26.83" width="14.14" height="4.17"/><polygon class="cls-1" points="151.29 26.83 134.88 26.83 136.96 31 153.37 31 151.29 26.83"/><polygon class="cls-1" points="124.74 31 126.83 26.83 111.17 26.83 109.08 31 124.74 31"/><polygon class="cls-1" points="107.92 25.42 109.91 21.45 94.25 21.45 92.26 25.42 107.92 25.42"/><polygon class="cls-1" points="134.17 25.42 150.58 25.42 148.59 21.45 132.19 21.45 134.17 25.42"/><path class="cls-1" d="M154.46,25.42h52.09a15.07,15.07,0,0,0-2.7-4h-52A15.92,15.92,0,0,0,154.46,25.42Z"/><path class="cls-1" d="M151.23,19.84h50.82a15.22,15.22,0,0,0-9.36-3.12H165.57a1.63,1.63,0,0,1-1.27-.66H150.51A15,15,0,0,0,151.23,19.84Z"/><polygon class="cls-1" points="291.07 10.68 292.86 14.26 309.27 14.26 307.48 10.68 291.07 10.68"/><polygon class="cls-1" points="21.49 42.99 23.51 47.03 36.8 47.03 38.82 42.99 21.49 42.99"/><path class="cls-1" d="M196.05,3.11,197.59,0H165.17a14.13,14.13,0,0,0-8.8,3.11Z"/><polygon class="cls-1" points="243.26 3.11 243.26 0 200.89 0 199.34 3.11 243.26 3.11"/><polygon class="cls-1" points="139.42 3.11 137.87 0 124.58 0 123.03 3.11 139.42 3.11"/><polygon class="cls-1" points="119.08 3.11 120.63 0 104.97 0 103.42 3.11 119.08 3.11"/><polygon class="cls-1" points="284.17 3.11 285.73 0 260.74 0 260.74 0 246.59 0 246.59 3.11 284.17 3.11"/><polygon class="cls-1" points="303.69 3.11 302.13 0 285.73 0 287.28 3.11 303.69 3.11"/><polygon class="cls-1" points="320.33 10.68 318.54 14.26 334.2 14.26 335.99 10.68 320.33 10.68"/><polygon class="cls-1" points="317.64 16.06 315.75 19.84 331.41 19.84 333.3 16.06 317.64 16.06"/><polygon class="cls-1" points="314.95 21.45 313.9 23.54 312.86 21.45 296.45 21.45 298.44 25.42 328.62 25.42 330.61 21.45 314.95 21.45"/><polygon class="cls-1" points="323.03 5.29 321.33 8.69 336.99 8.69 338.68 5.29 323.03 5.29"/><polygon class="cls-1" points="78.28 3.11 76.72 0 60.31 0 61.87 3.11 78.28 3.11"/><rect class="cls-1" x="211.27" y="42.99" width="14.14" height="4.04"/><rect class="cls-1" x="229.12" y="42.99" width="14.14" height="4.04"/><path class="cls-1" d="M264.52,43v4h43.85c.28,0,.57,0,.85,0l0,.05.06-.05a15.57,15.57,0,0,0,9.35-4Z"/><rect class="cls-1" x="246.59" y="42.99" width="14.14" height="4.04"/><path class="cls-1" d="M162.68,43l2,4h28a15.17,15.17,0,0,0,10.49-4Z"/><polygon class="cls-1" points="81.81 42.99 83.83 47.03 97.11 47.03 99.14 42.99 81.81 42.99"/><polygon class="cls-1" points="17.96 3.11 16.41 0 0 0 1.55 3.11 17.96 3.11"/><polygon class="cls-1" points="58.76 3.11 60.31 0 44.66 0 43.1 3.11 58.76 3.11"/><polygon class="cls-1" points="142.96 42.99 144.98 47.03 146.48 47.03 161.38 47.03 159.36 42.99 142.96 42.99"/><polygon class="cls-1" points="103.09 42.99 101.07 47.03 116.73 47.03 118.75 42.99 103.09 42.99"/><polygon class="cls-1" points="101.83 37.6 79.12 37.6 81.39 42.16 99.55 42.16 101.83 37.6"/><polygon class="cls-1" points="40.31 8.69 55.97 8.69 57.67 5.29 42.01 5.29 40.31 8.69"/><polygon class="cls-1" points="4.34 8.69 20.75 8.69 19.06 5.29 2.65 5.29 4.34 8.69"/><polygon class="cls-1" points="64.66 8.69 81.07 8.69 79.37 5.29 62.96 5.29 64.66 8.69"/><polygon class="cls-1" points="299.14 26.83 301.23 31 325.83 31 327.92 26.83 299.14 26.83"/><polygon class="cls-1" points="23.54 14.26 21.75 10.68 5.34 10.68 7.13 14.26 23.54 14.26"/><polygon class="cls-1" points="29.12 25.42 27.13 21.45 10.72 21.45 12.71 25.42 29.12 25.42"/><polygon class="cls-1" points="100.63 8.69 116.29 8.69 117.98 5.29 102.32 5.29 100.63 8.69"/><polygon class="cls-1" points="246.59 8.69 281.38 8.69 283.08 5.29 246.59 5.29 246.59 8.69"/><polygon class="cls-1" points="196.58 8.69 243.26 8.69 243.26 5.29 198.26 5.29 196.58 8.69"/><polygon class="cls-1" points="120.24 8.69 142.21 8.69 140.52 5.29 121.94 5.29 120.24 8.69"/><polygon class="cls-1" points="26.33 19.84 24.44 16.06 8.03 16.06 9.92 19.84 26.33 19.84"/><rect class="cls-1" x="211.27" y="37.6" width="14.14" height="4.55"/><rect class="cls-1" x="229.12" y="37.6" width="14.14" height="4.55"/><polygon class="cls-1" points="301.83 32.22 302.44 33.43 264.52 33.43 264.52 36.58 323.04 36.58 325.22 32.22 301.83 32.22"/><polygon class="cls-1" points="156.67 37.6 140.26 37.6 142.54 42.16 158.95 42.16 156.67 37.6"/><rect class="cls-1" x="246.59" y="37.6" width="14.14" height="4.55"/><polygon class="cls-1" points="288.37 5.29 290.07 8.69 306.48 8.69 304.78 5.29 288.37 5.29"/><polygon class="cls-1" points="39.24 42.16 41.51 37.6 18.8 37.6 21.08 42.16 39.24 42.16"/><polygon class="cls-1" points="121.44 37.6 105.78 37.6 103.51 42.16 119.16 42.16 121.44 37.6"/><polygon class="cls-1" points="42.03 36.58 44.21 32.22 16.11 32.22 18.29 36.58 42.03 36.58"/><polygon class="cls-1" points="44.82 31 46.9 26.83 31.24 26.83 30.53 28.25 29.82 26.83 13.42 26.83 15.5 31 44.82 31"/></g></g></svg>
			<span class="shopify-name">vvastify</span>
		</a>
	{% endcapture %}
	<small class="password__footer-caption password__footer-text">{{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}</small>
	<small class="password__footer-login password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
</div>

{% schema %}
{
	"name": "t:sections.main-password-footer.name",
	"settings": [
		{
            "type": "header",
            "content": "Background colours"
        },
        {
            "type": "color",
            "id": "colors_background_1",
            "default": "#FFFFFF",
            "label": "t:settings_schema.colors.settings.colors_background_1.label"
        },
        {
            "id": "gradient_background_1",
            "type": "color_background",
            "label": "t:settings_schema.colors.settings.gradient_background_1.label"
        }
	]
}
{% endschema %}
