{% comment %}
'Main section' rendering header on password page
Usage:
"main": {
"type": "main-password-header"
} Listed in templates/password.json
{% endcomment %}

{% style %}
	:root:root  #shopify-section-{{ section.id }} {
		--color-base-outline-button-labels: {{ section.settings.colors_foreground_1.red }}, {{ section.settings.colors_foreground_1.green }}, {{ section.settings.colors_foreground_1.blue }};
		--color-foreground: {{ section.settings.colors_foreground_1.red }}, {{ section.settings.colors_foreground_1.green }}, {{ section.settings.colors_foreground_1.blue }};
		--color-base-text: {{ section.settings.colors_foreground_1.red }}, {{ section.settings.colors_foreground_1.green }}, {{ section.settings.colors_foreground_1.blue }};
		--color-base-background-1: {{ section.settings.colors_background_1.red }}, {{ section.settings.colors_background_1.green }}, {{ section.settings.colors_background_1.blue }};
		--gradient-base-background-1: {% if section.settings.gradient_background_1 != blank %}{{ section.settings.gradient_background_1 }}{% else %}{{ section.settings.colors_background_1 }}{% endif %};
	}
{% endstyle %}

<div class="color-background-1 gradient">
	<div class="password-header">
		{%- if section.settings.logo -%}
			{%- capture password_logo_alt -%}{{ section.settings.logo.alt | default: shop.name | escape }}{%- endcapture -%}
			{%- capture password_logo_inline_style -%}max-width: {{ section.settings.logo_max_width }}px{%- endcapture -%}
			{%- capture password_logo_height -%}{{ section.settings.logo_max_width | divided_by: section.settings.logo.aspect_ratio }}{%- endcapture -%}
			{{ section.settings.logo | image_url: width: 550, height: 500 | image_tag:
			loading: 'lazy',
			height: password_logo_height,
			width: section.settings.logo_max_width,
			style: password_logo_inline_style,
			alt: password_logo_alt }}
		{%- elsif section.settings.logosvg != blank -%}
				{{ section.settings.logosvg }}
		{% else %}
			<h1 class="h2">{{ shop.name }}</h1>
		{%- endif -%}

		{%- if shop.password_message != blank -%}
			<div class="password-content">
				{{ shop.password_message }}
			</div>
		{%- endif -%}

		<password-modal>
			<details class="password-modal modal">
				<summary class="modal__toggle" aria-haspopup="dialog">
					<div class="modal__toggle-open password-link link underlined-link">
						{% render 'icon-padlock' %}
						{{ 'general.password_page.login_password_button' | t }}
					</div>
					<div class="modal__toggle-close" aria-hidden="true">
						{% render 'icon-close' %}
					</div>
				</summary>
				<div
					class="modal__content"
					role="dialog"
					aria-labelledby="DialogHeading"
					aria-modal="true"
				>
					<div class="password-modal__content" tabindex="-1">
						<button type="button" class="modal__close-button link" aria-label="{{ 'accessibility.close' | t }}">
							{% render 'icon-close' %}
						</button>
						<h2 class="password-modal__content-heading" id="DialogHeading">
							{{ 'general.password_page.login_form_heading' | t }}
						</h2>
						{%- form 'storefront_password', class: 'password-form' -%}
							<div class="password-field field{% if form.errors %} password-field--error{% endif %}">
								<input
									type="password"
									name="password"
									id="Password"
									class="field__input"
									autocomplete="current-password"
									{% if form.errors %}
										aria-invalid="true"
										aria-describedby="PasswordLoginForm-password-error"
									{%- endif -%}
									placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
								>
								<label class="field__label" for="{{ 'general.password_page.login_form_password_label' | t }}">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
								{%- if form.errors -%}
									<div id="PasswordLoginForm-password-error" role="status">
										<span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
										<span class="form__message">{% render 'icon-error' %} {{ 'general.password_page.login_form_error' | t }}</span>
									</div>
								{%- endif -%}
							</div>
							<button name="commit" class="password-button button button--outline">
								{{ 'general.password_page.login_form_submit' | t }}
							</button>
						{%- endform -%}
						<small class="password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
					</div>
				</div>
			</details>
		</password-modal>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.main-password-header.name",
	"settings": [
		{
			"type": "image_picker",
			"id": "logo",
			"label": "t:sections.main-password-header.settings.logo.label"
		},
		{
			"type": "html",
			"id": "logosvg",
			"label": "SVG logo",
			"info": "add an SVG html element, Logo image must be removed to show"
		},
		{
			"type": "range",
			"id": "logo_max_width",
			"min": 50,
			"max": 250,
			"step": 10,
			"default": 100,
			"unit": "t:sections.main-password-header.settings.logo_max_width.unit",
			"label": "t:sections.main-password-header.settings.logo_max_width.label"
		},
		{
            "type": "header",
            "content": "Background colours"
        },
        {
            "type": "color",
            "id": "colors_background_1",
            "default": "#FFFFFF",
            "label": "t:settings_schema.colors.settings.colors_background_1.label"
        },
		{
            "type": "color",
            "id": "colors_foreground_1",
            "default": "#FFFFFF",
            "label": "Foreground"
        },
        {
            "id": "gradient_background_1",
            "type": "color_background",
            "label": "t:settings_schema.colors.settings.gradient_background_1.label"
        }
	]
}
{% endschema %}
